@model IEnumerable<WEB_Boletim.Models.Materia>

@{
    ViewData["Title"] = "Materia Cadastradas";
}

<h1>Materias Cadastradas</h1>

<p>
    <a asp-action="Create">Novo Cadastro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoMateria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDeCadastroMateria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Situacoes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DescricaoMateria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataDeCadastroMateria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Situacoes.SituacaoMateria)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a href="~/Home/Index">Voltar</a>
</div>
