@model WEB_Boletim.Models.Aluno

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Aluno</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeAluno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeAluno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SobrenomeAluno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SobrenomeAluno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimentoAluno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataNascimentoAluno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CPFAluno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CPFAluno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cursos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cursos.CursoFaculdade)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
